@import "./utils/flow.css";

@import "./blocks/canvas-wrapper.css";

.game-buttons {
  display: flex;
  align-items: center;
  justify-content: center;

  & > button {
    margin: 0 0.25rem;
  }
}

.zombie-radios {
  display: flex;
  justify-content: center;
  align-items: center;
  
  & > * {
    margin: 0 0.25rem;
  }
}
