{% if gameButtons %}
  <div class="game-buttons | wrapper">
    {% for button in gameButtons %}
      <button type="button" id="{{ button.id }}" >{{ button.label }}</button>
    {% endfor %}
  </div>
{% endif %}
{% if gameLabels %}
  {% for label in gameLabels %}
    <p id="{{ label.id }}" ></p>
  {% endfor %}
{% endif %}
<div class="canvas-wrapper" id="canvasWrapper">
  <canvas id="{{ canvasId }}"/>
</div>
<div class="bottom-container">
  <button type="button" id="{{ newGameId }}">New Game</button>
  <p id="result"></p>
</div>